In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# read ods files
import pandas as pd
import ezodf

def read_ods(filename, sheet_no=0, header=0):
    tab = ezodf.opendoc(filename=filename).sheets[sheet_no]
    return pd.DataFrame({col[header].value:[x.value for x in col[header+1:]]
                         for col in tab.columns()})

In [4]:
df = read_ods('../eurovision/eurovision_song_contest_1975_2018v2.ods')

In [5]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate,NaN
0,1975.0,f,1975f,J,Belgium,Belgium,0.0,x,None
1,1975.0,f,1975f,J,Belgium,Finland,0.0,None,None
2,1975.0,f,1975f,J,Belgium,France,2.0,None,None
3,1975.0,f,1975f,J,Belgium,Germany,0.0,None,None
4,1975.0,f,1975f,J,Belgium,Ireland,12.0,None,None

In [6]:
df.tail()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate,NaN
46379,2018.0,sf2,2018sf2,T,Ukraine,Sweden,4.0,None,None
46380,2018.0,sf2,2018sf2,T,Ukraine,The Netherlands,0.0,None,None
46381,2018.0,sf2,2018sf2,T,Ukraine,Ukraine,0.0,None,None
46382,NaN,None,None,None,None,None,NaN,None,None
46383,NaN,None,None,None,None,None,NaN,None,None

In [7]:
df.drop(df.tail(2).index,inplace=True)

In [8]:
df.tail()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate,NaN
46377,2018.0,sf2,2018sf2,T,Ukraine,Serbia,0.0,None,None
46378,2018.0,sf2,2018sf2,T,Ukraine,Slovenia,6.0,None,None
46379,2018.0,sf2,2018sf2,T,Ukraine,Sweden,4.0,None,None
46380,2018.0,sf2,2018sf2,T,Ukraine,The Netherlands,0.0,None,None
46381,2018.0,sf2,2018sf2,T,Ukraine,Ukraine,0.0,None,None

In [9]:
type(df.Year)

pandas.core.series.Series

In [10]:
df['Year'] = df.Year.astype(int)

In [11]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate,NaN
0,1975,f,1975f,J,Belgium,Belgium,0.0,x,None
1,1975,f,1975f,J,Belgium,Finland,0.0,None,None
2,1975,f,1975f,J,Belgium,France,2.0,None,None
3,1975,f,1975f,J,Belgium,Germany,0.0,None,None
4,1975,f,1975f,J,Belgium,Ireland,12.0,None,None

In [12]:
df.columns

Index([              'Year',      '(semi-) final',            'Edition',
       'Jury or Televoting',       'From country',         'To country',
             'Points      ',          'Duplicate',                 None],
      dtype='object')

In [13]:
 df.rename(columns={"Points      ": "Points"}, inplace=True)

In [14]:
df.columns

Index([              'Year',      '(semi-) final',            'Edition',
       'Jury or Televoting',       'From country',         'To country',
                   'Points',          'Duplicate',                 None],
      dtype='object')

In [15]:
df['Points'] = df.Points.astype(int)

In [16]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate,NaN
0,1975,f,1975f,J,Belgium,Belgium,0,x,None
1,1975,f,1975f,J,Belgium,Finland,0,None,None
2,1975,f,1975f,J,Belgium,France,2,None,None
3,1975,f,1975f,J,Belgium,Germany,0,None,None
4,1975,f,1975f,J,Belgium,Ireland,12,None,None

In [17]:
df = df[df['Points'] != 0]

In [18]:
df.drop(["Duplicate", None],axis = 1,inplace=True)

In [19]:
df.columns

Index(['Year', '(semi-) final', 'Edition', 'Jury or Televoting',
       'From country', 'To country', 'Points'],
      dtype='object')

In [20]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points
2,1975,f,1975f,J,Belgium,France,2
4,1975,f,1975f,J,Belgium,Ireland,12
5,1975,f,1975f,J,Belgium,Israel,1
6,1975,f,1975f,J,Belgium,Italy,6
8,1975,f,1975f,J,Belgium,Malta,7

In [21]:
df.Edition.unique()

array(['1975f', '1976f', '1977f', '1978f', '1979f', '1980f', '1981f',
       '1982f', '1983f', '1984f', '1985f', '1986f', '1987f', '1988f',
       '1989f', '1990f', '1991f', '1992f', '1993f', '1994f', '1995f',
       '1996f', '1997f', '1998f', '1999f', '2000f', '2001f', '2002f',
       '2003f', '2004f', '2004sf', '2005f', '2005sf', '2006f', '2006sf',
       '2007f', '2007sf', '2008f', '2008sf1', '2008sf2', '2009f',
       '2009sf1', '2009sf2', '2010f', '2010sf1', '2010sf2', '2011f',
       '2011sf1', '2011sf2', '2012f', '2012sf1', '2012sf2', '2013f',
       '2013sf1', '2013sf2', '2014f', '2014sf1', '2014sf2', '2015f',
       '2015sf1', '2015sf2', '2016f', '2016sf1', '2016sf2', '2017f',
       '2017sf1', '2017sf2', '2018f', '2018sf1', '2018sf2'], dtype=object)

In [22]:
np.unique([i[4:] for i in df.Edition.values], return_counts=True)

(array(['f', 'sf', 'sf1', 'sf2'], dtype='<U3'),
 array([13610,  1520,  2890,  2910]))

In [23]:
df['final'] = [i[4:] for i in df.Edition.values]

In [24]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,final
2,1975,f,1975f,J,Belgium,France,2,f
4,1975,f,1975f,J,Belgium,Ireland,12,f
5,1975,f,1975f,J,Belgium,Israel,1,f
6,1975,f,1975f,J,Belgium,Italy,6,f
8,1975,f,1975f,J,Belgium,Malta,7,f

In [25]:
df.drop(['(semi-) final', 'Edition'], axis = 1, inplace=True)

In [26]:
df.head()

   Year Jury or Televoting From country To country  Points final
2  1975                  J      Belgium     France       2     f
4  1975                  J      Belgium    Ireland      12     f
5  1975                  J      Belgium     Israel       1     f
6  1975                  J      Belgium      Italy       6     f
8  1975                  J      Belgium      Malta       7     f

In [27]:
 df.rename(columns={"From country": "country_source",
                   "To country": "country_dest"}, inplace=True)

In [28]:
df_final = df[df['final'] == 'f']

In [29]:
len(df_final)

13610

In [30]:
len(df)

20930

In [31]:
df.head()

   Year Jury or Televoting country_source country_dest  Points final
2  1975                  J        Belgium       France       2     f
4  1975                  J        Belgium      Ireland      12     f
5  1975                  J        Belgium       Israel       1     f
6  1975                  J        Belgium        Italy       6     f
8  1975                  J        Belgium        Malta       7     f

In [32]:
df_final.head()

   Year Jury or Televoting country_source country_dest  Points final
2  1975                  J        Belgium       France       2     f
4  1975                  J        Belgium      Ireland      12     f
5  1975                  J        Belgium       Israel       1     f
6  1975                  J        Belgium        Italy       6     f
8  1975                  J        Belgium        Malta       7     f

In [33]:
np.unique(df['Jury or Televoting'].values, return_counts=True)

(array(['J', 'T'], dtype=object), array([18390,  2540]))

In [34]:
df_jury = df[df['Jury or Televoting'] =='J']

In [35]:
df_jury.head()

   Year Jury or Televoting country_source country_dest  Points final
2  1975                  J        Belgium       France       2     f
4  1975                  J        Belgium      Ireland      12     f
5  1975                  J        Belgium       Israel       1     f
6  1975                  J        Belgium        Italy       6     f
8  1975                  J        Belgium        Malta       7     f

In [36]:
df_televoting = df[df['Jury or Televoting'] == 'T']

In [37]:
df_televoting.head()

       Year Jury or Televoting country_source country_dest  Points final
36352  2016                  T        Albania      Armenia       2     f
36353  2016                  T        Albania    Australia      12     f
36357  2016                  T        Albania     Bulgaria       8     f
36364  2016                  T        Albania      Hungary       1     f
36366  2016                  T        Albania        Italy      10     f

In [38]:
df_televoting.Year.unique()

array([2016, 2017, 2018])